.backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 300ms linear, visibility 400ms linear;

}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    min-height: 581px;
    background-color: $second-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 300ms linear;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0);
}

.modal-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background: $second-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.modal-icon-close:hover {
    fill: $accent-color;
}

.modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-color;
    margin-bottom: 12px;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: transparent;
}

.modal-input:focus {
    border: 1px solid $accent-color;
    cursor: pointer;
}

.modal-input:focus+.modal-input-icon {
    fill: $accent-color;
    cursor: pointer;
}

.input-wrap {
    position: relative;
}

.modal-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $paragraph-color;
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
}

.modal-input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
}

.modal-comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    display: block;
    padding: 12px 16px;
    outline: transparent;
    
    &::placeholder {
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.01em;
            color: rgba(117, 117, 117, 0.5);
        }

    &:focus {
         border-color: $accent-color;
    }
}




.privacy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.checkbox-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $paragraph-color;
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 7px;
}

.checkbox-text span {
    width: 16px;
    height: 15px;
    border: 2px solid $main-color;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.input-checkbox:checked+.checkbox-text span {
    background-color: $accent-color;
    border-color: transparent;
    fill: $second-color;
}

.input-checkbox:focus+.checkbox-text span {
    border-color: $accent-color;
}

.check-link {
    text-decoration-line: underline;
    color: $accent-color;
}

.modal-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    padding: 10px 52px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: $second-color;
    cursor: pointer;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    min-width: 200px;
    height: 50px;
    margin: 0 auto;
}