.clients {
    padding: 94px 0;
}

.client-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.clients-item {
    display: flex;
}

.clients-link {
    display: flex;
    width: 170px;
    height: 92px;
    color: $color-icon;
    border: 1px solid $color-icon;
    border-radius: 4px;
    align-items: center;
    justify-content: center;

    &:hover,
    &:focus {
            color: $accent-color;
            border-color: $accent-color;
        }
}

.clients-icon {
    fill: currentColor;
}